/* styles.css */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* 스크롤바 제거 */
}

#container {
  width: 100vw; /* 뷰포트 너비에 맞게 설정 */
  height: 100vh; /* 뷰포트 높이에 맞게 설정 */
  position: relative; /* 자식 요소의 위치를 상대적으로 설정 */
}

video,
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 비율에 맞게 잘림 없이 채우기 */
}
